<h1><%= @cocktail.name %></h1>
  <% @cocktail.doses.each do |dose| %>
    <%= dose.ingredient.name %>: <%= dose.description %>
    <%= link_to "Delete dose", cocktail_dose_path(@cocktail, dose), {class: "btn btn-danger", method: "delete"} %>
<hr>
  <% end %>

  <div class="form-group text-center">
  <%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.input :ingredient_id, as: :select, collection: Ingredient.all, label_method: :name, value_method: :id %>

  <%= f.button :submit %>
  <% end %>
  </div>

<%= link_to "Return to list", cocktails_path %>

